<h4><%= @contact.first_name + " " + @contact.last_name %></h4>
<p><%= @contact.email %></p>
<p><%= @contact.phone_number %></p>
<!-- <a href="/contacts">Back to all contacts</a>
 --><div>
  <%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %>
</div>
